page-login {
	
	font-family: 'catamaran-medium-webfont';
	
	.home-background {
	 background: url(../../assets/images/background_login.png) no-repeat center center fixed;
	 background-size: cover;
	}
	
	.logo {
		img {
		max-width: 100%;
		}
	margin-top: 2.5rem;
	margin-bottom: 2rem;
	}
	

	.login {
	margin-top: 3rem;
	margin-bottom: 8rem;
	padding: 5px 20px;
		
		.list-ios, list-md {
		margin:0;	
		}
		
		.list-ios .item-block .item-inner, .list-md .item-block .item-inner {
		border-bottom: none;
		}
		
		.item-ios, .item-md {
		background: rgba(255,255,255,0.2) !important;
		border-radius: 50px;
		border: 0.5px solid #3263ab !important;
		margin-top: 1rem;
		font-family: 'catamaran-medium-webfont';
		font-size: 1.6rem;
		color: #fff;
		height: 3em;
		}
		
		.login-button {
		font-family: 'catamaran-bold-webfont';
		font-size: 1.5rem;
		letter-spacing: 0.1rem;
		height: 3.5em;
		margin-top: 1rem;
		}
			
	}
	
	.signup {
	font-size: 1.5rem;	
	padding: 5px 20px;
	
		a {
		color: #4f7abd;
		text-decoration: underline;
		font-family: 'catamaran-bold-webfont';
		}
		
		.signup-button { 
		font-family: 'catamaran-medium-webfont';
		font-size: 1.4rem;
		letter-spacing: 0.1rem;
		height: 3em;
		}

		.facebook-button {
		font-family: 'catamaran-medium-webfont';
		font-size: 1.4rem;
		letter-spacing: 0.1rem;
		height: 3em;
		}

		
		
	}
	
	.languages {
		
		img {
		max-width: 80%; 	
		}
	}

	@media (max-width: 360px) {
			.logo {
			margin-top: 1rem;
			}
			.login {
			margin-bottom: 0;
			}
			.signup {
			margin-top: 0;
			}
	}
	
}