<ion-header>

   <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mise en relation</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div>
    <ion-list>
      <!--Autocomplete Code Postal - Ville-->

        <input  ng2-auto-complete
                style="   display: block;
                          margin: 0;
                          width: 100%;
                          font-family: sans-serif;
                          font-size: 18px;
                          box-shadow: none;
                          border-radius: none;"

                [(ngModel)]="model"
                placeholder="Enter Address"
                [source]="geoCode" 
                list-formatter="label"
                min-chars="1" 
                blank-option-text=""
                no-match-found-text="Pas de résultats trouvé"
                loading-text="Chargement..."
                max-num-list="5"
                (valueChanged)="onChangeVille($event)"/>

       <!--Type-->
        <ion-item>
          <ion-label>Type</ion-label>
            <ion-select name="type"  [disabled]="!typeList.length" (ionChange)="onTypeSelected($event)" >
                <ion-option *ngFor="let item of typeList" [value]="item">{{item.s_sub_category}}</ion-option>
            </ion-select>
        </ion-item>

        <label class="item item-input item-relation item-stacked-label" *ngIf="relationData.service == 50">
            <div class="input-label">
            <h4 class="red" translate="Assurez vous que votre contact acquéreur"></h4>
                <p class="relation"> A validé son financement <br>
                                     Accepte de mandater un chasseur immobilier<br>
                                     Il n'a pas le temps de rechercher par lui-même<br>
                                     Il n'a pas besoin de vendre son bien au préalable</p>
            </div>

        </label>
        
        <label class="item item-input item-relation item-stacked-label" *ngIf="relationData.service == 8">
            <div class="input-label">
              <h4 class="red">Assurez-vous que votre contact acquéreur:</h4>     
                <p class="relation"> Est en recherche d'opportunités <br>
               Souhaite assister à une presentation <br>
                Est motivé</p>
            </div>

        </label>

        <!--Partenaire-->
        <ion-item>
          <ion-label>Partenaire</ion-label>
              <ion-select name="partenaire" [disabled]="!partenaireList.length" (ionChange)="onPartenaireSelected($event)" >
                 <ion-option *ngFor="let item of partenaireList" [value]="item" >{{item.partenaire}}</ion-option>
              </ion-select>
        </ion-item>

        <ion-item>
          Votre contact que nous allons contacter
        </ion-item>

        <!--begin form-->
        <div [formGroup] = "miseEnRelationForm">

        <!--Nom de votre contact-->
        <ion-item>
          <ion-label stacked>Nom de votre contact</ion-label>
          <ion-input type="text" formControlName="nom" [(ngModel)]="relationData.nom" name="nom" ></ion-input>
        </ion-item>

        <!--Prenom de votre contact-->
        <ion-item>
          <ion-label stacked>Prénom du contact</ion-label>
          <ion-input type="text" formControlName="prenom" [(ngModel)]="relationData.prenom" name="prenom" ></ion-input>
        </ion-item>

        <!--Email de votre contact-->
        <ion-item>
          <ion-label stacked>Email</ion-label>
          <ion-input type="text" formControlName="email" [(ngModel)]="relationData.email" name="email"></ion-input>
        </ion-item>

        <!--Adresse de votre contact-->
        <ion-item>
          <ion-label stacked>Adresse</ion-label>
          <ion-input type="text" formControlName="adresse" [(ngModel)]="relationData.adresse" name="adresse"></ion-input>
        </ion-item>

        <!--Mobile de votre contact-->
        <ion-item>
          <ion-label stacked>Mobile</ion-label>
          <ion-input type="mobile" formControlName="mobile" [(ngModel)]="relationData.mobile" name="mobile"></ion-input>
        </ion-item>

        <!--Commentaire-->
        <ion-item>
           <ion-textarea formControlName="commentaire" [(ngModel)]="relationData.commentaire" name="commentaire" placeholder="Redigez un commentaire"></ion-textarea>
        </ion-item>
        </div>

        <!--Mettre en relation-->
        <button ion-button (click)="mettreEnRelation()" [disabled]="!miseEnRelationForm.valid" block>Mettre en relation</button>

    </ion-list>
  </div>

</ion-content>
