page-inscription {

	.inscription .item-ios {
 		padding-left: 15px;
 		padding-right: 15px;
	}

}

.searchbar-ios {
 padding-left: 15px !important;
 padding-right: 15px !important;
 background: none;
	}

.searchbar-ios .searchbar-input {
 text-transform: uppercase;
 font-size: 1.1rem;
}
