page-miseenrelation4 {
	
	ion-content {
	background: #FAFAFA !important;
		
		.recap-relation {
		font-family: 'catamaran-medium-webfont';
		font-size: 1.6rem;
		letter-spacing: 0.1rem;
			
			span {
			text-decoration: underline;
			}
		}
		
		.title {
		font-family: 'catamaran-bold-webfont';
		letter-spacing: 0.1rem;
		margin-top: 4rem;
		margin-bottom: 4rem;
			
			h3 {
			font-size: 2.1rem;	
			}
		
		}
		
	
		ion-list {
		font-family: 'catamaran-bold-webfont';
		font-size: 1.5rem;
		background: transparent;

			.list-header-ios, .list-header-md {
			font-size: 1.2rem;
			}

			ion-icon {
			font-size: 2.2rem;
			color: #fff;
			}

			ion-label {
			color: #4f7abd;	
			}
			
			.item-ios, .item-md {
			background: transparent;
			}
			
			.item-ios.activated {
			background-color: transparent;
			color: #0018ff;
			}
			

		}
	
	.list-ios .item-block .item-inner {
	border-bottom: 0.55px solid #eee;
	border-top: none;
	}
	
	.list-ios > .item-block:first-child {
	border-top: none !important;
	}
		
	.list-ios > .item-block:last-child {
	border-bottom: 0.55px solid #eee;	
	}
	
	ion-item-options .button {
	font-size: 1.4rem;		
	}
		
	ion-item-options:not([icon-left]) .button:not([icon-only]) ion-icon {
	padding-bottom: 0;		
	}
		
	.item-block {
	min-height: 5.3rem;		
	}
		
	}
	
	@media (max-width: 340px) {

	}

}
