page-apropos {
	
	ion-content {
	background-color: #FAFAFA !important;
	}
	
	ion-list {
	font-family: 'catamaran-medium-webfont';
	font-size: 1.4rem;
		
		.list-header-ios, .list-header-md {
		font-size: 1.1rem;
		font-family: 'catamaran-bold-webfont';
		}
		
		ion-icon {
		margin-right: 5px;
		font-size: 1.9rem;
		color: #5c5c5c;
		}
	
		ion-label {
		color: #575757;	
		}
		
		ion-select {
		max-width: 100%;
		}
	
		.select-ios .select-icon, .select-md .select-icon {
		width: 100px;
		left: 80px;
		}
		
		.select-ios .select-icon .select-icon-inner, .select-md .select-icon .select-icon-inner {
		left: 0px;	
		}
		
		ion-input {
		font-family: 'catamaran-medium-webfont';
		}
		
	}

}
