
<ion-header>

  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
	<ion-title>Mon Filleul</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="accueil-background">

<ion-profile-header [options]="options"></ion-profile-header>

<ion-grid>
  <ion-row>

    <ion-col width-33 text-center>
        <button ion-button icon-only round outline (click)="call()">
          <ion-icon name="ios-call-outline"></ion-icon>
        </button>
	  </ion-col>

    <ion-col width-33 text-center>
          <button ion-button icon-only round outline (click)="sendMail()">
            <ion-icon name="ios-mail-outline"></ion-icon>
          </button>
    </ion-col>

    <ion-col width-33 text-center>
          <button ion-button icon-only round outline (click)="sendMessage()">
            <ion-icon name="ios-chatbubbles-outline"></ion-icon>
          </button>
    </ion-col>

  </ion-row>
</ion-grid>

<div text-center>
  Date Dernière connexion <br/>

    <span *ngIf="params.non_connecte == 0" >Aujourd'hui</span>
                        
    <span *ngIf="params.non_connecte == 1" >Hier</span>

    <span *ngIf="params.non_connecte != 1 && params.non_connecte != 0 ">{{affilie.non_connecte}} jours</span>

</div>



</ion-content>
