page-match {
    .stack {
    position: relative;
    height: 100%;

    .user-photo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: auto 100%;
      background-position: center;
    }
  }

  .float-btn {
    position: absolute;
    width: 100%;
    bottom: 5px;

    button {
      border-radius: 50%;
      width: 2.8em;
      height: 2.8em;
      font-size: 1.8em;
    }
  }
}
