page-messagedetail {
    .scroll-content {
    background-color: color($colors, chat-bg);
  }

  img.profile-picture {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    &.left {
      left: 10px;
    }
    &.right {
      right: 10px;
    }
  }

  .ion-email {
    float: right;
    font-size: 32px;
    vertical-align: middle;
  }

  .message {
    font-size: 14px;
  }

  .message-detail {
    white-space: nowrap;
    font-size: 14px;
  }

  .bar.item-input-inset {
    .item-input-wrapper {
      input {
        width: 100% !important;
      }
    }
  }

  .message-wrapper {
    position: relative;
    &:last-child {
      margin-bottom: 10px;
    }
  }

  .chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;

    .message-time {
      font-size: 0.7em;
      display: block;
    }

    &:before {
      content: "\00a0";
      display: block;
      height: 16px;
      width: 9px;
      position: absolute;
      bottom: -7.5px;
    }

    &.left {
      background-color: color($colors, white);
      float: left;
      margin-left: 55px;

      &:before {
        background-color: color($colors, white);
        left: 10px;
        -webkit-transform: rotate(70deg) skew(5deg);
      }
    }
    &.right {
      background-color: color($colors, chat-bubble);
      float: right;
      margin-right: 55px;

      &:before {
        background-color: color($colors, chat-bubble);
        right: 10px;
        -webkit-transform: rotate(118deg) skew(-5deg);
      }

      a.autolinker {
        color: #fff;
        font-weight: bold;
      }

      .message-time {
        text-align: right;
      }
    }
  }

  ion-footer {

    .bar-buttons-md[start] {
      order: 3;
    }

    ion-icon {
      font-size: 1.6em;
    }
  }
}

