// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.sixteen-nine {
  position: relative;
}
.sixteen-nine:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.sixteen-nine > .content {
  position: absolute;
  top: -16.5%;
  left: 0;
  right: 0;
  bottom: 0;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@font-face {
    font-family: 'catamaran-light-webfont';
    src: url('../assets/fonts/catamaran-light-webfont.eot');
    src: url('../assets/fonts/catamaran-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/catamaran-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/catamaran-light-webfont.woff') format('woff'),
         url('../assets/fonts/catamaran-light-webfont.ttf') format('truetype'),
         url('../assets/fonts/catamaran-light-webfont.svg#catamaran-light-webfont') format('svg');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'catamaran-medium-webfont';
    src: url('../assets/fonts/catamaran-medium-webfont.eot');
    src: url('../assets/fonts/catamaran-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/catamaran-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/catamaran-medium-webfont.woff') format('woff'),
         url('../assets/fonts/catamaran-medium-webfont.ttf') format('truetype'),
         url('../assets/fonts/catamaran-medium-webfont.svg#catamaran-medium-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'catamaran-bold-webfont';
    src: url('../assets/fonts/catamaran-bold-webfont.eot');
    src: url('../assets/fonts/catamaran-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/catamaran-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/catamaran-bold-webfont.woff') format('woff'),
         url('../assets/fonts/catamaran-bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/catamaran-bold-webfont.svg#catamaran-bold-webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2-Light-webfont';
    src: url('../assets/fonts/Exo2-Light-webfont.eot');
    src: url('../assets/fonts/Exo2-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Exo2-Light-webfont.woff2') format('woff2'),
         url('../assets/fonts/Exo2-Light-webfont.woff') format('woff'),
         url('../assets/fonts/Exo2-Light-webfont.ttf') format('truetype'),
         url('../assets/fonts/Exo2-Light-webfont.svg#Exo2-Light-webfont') format('svg');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2-Regular-webfont';
    src: url('../assets/fonts/Exo2-Regular-webfont.eot');
    src: url('../assets/fonts/Exo2-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Exo2-Regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/Exo2-Regular-webfont.woff') format('woff'),
         url('../assets/fonts/Exo2-Regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/Exo2-Regular-webfont.svg#cExo2-Regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2-Bold-webfont';
    src: url('../assets/fonts/Exo2-Bold-webfont.eot');
    src: url('../assets/fonts/Exo2-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Exo2-Bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/Exo2-Bold-webfont.woff') format('woff'),
         url('../assets/fonts/Exo2-Bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/Exo2-Bold-webfont.svg#Exo2-Bold-webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}



ion-menu {
	


	ion-header {
	background-image: url(../assets/images/header_nav.png);
	font-family: 'catamaran-bold-webfont';
		
		.menu-img-avatar {
			
			img {
			background-size: 100% 100%;
			background-repeat: no-repeat;
			border-radius: 50%;
			border: 2px solid white;
			width: 75px;
			height: 75px;
			position: relative;	
			}	
		}
		
		button {
		font-family: 'catamaran-bold-webfont';
		font-size: 1.9rem !important;
		color: #fff !important;
		height: 2em !important;
		}
		
		p {
		font-family: 'catamaran-medium-webfont';
		font-size: 1.3rem !important;
		color: #fff !important;
		letter-spacing: 0.1rem;
		}
		
	}
	
	.menu {
	border-top: none;
		
		button {
		border-top: none !important;
		border-bottom: none !important;
		font-family: 'catamaran-medium-webfont';
		font-size: 1.5rem !important;
		letter-spacing: 0.1rem;
		color: #4f7abd;
		}
		
		ion-icon {
		font-size: 2rem;
		margin-right: 0.5rem;
		}

	}
	
	.list-ios .item-block .item-inner, .list-md .item-block .item-inner  {
	border-bottom: none !important;
	background-image: none;
	}
	
	.item-ios.activated {
	background-color: #fff;
	color: #0018ff;
	}
	
	.item-ios [item-right], .item-md [item-right] {
	margin: 0;	
	}
	
	ion-badge {
	padding: 5px;
	font-size: 1.2rem;
	border-radius: 20px !important;
	}
	
	
	
	@media (max-width: 360px) {
			.menu-inner {
				width: 304px;
			}
	}

	
}

