<ion-menu [content]="content" (ionOpen)="menuOpened()" (ionClose)="menuClosed()">
	
    <ion-header text-center padding>
       <div class="menu-img-avatar">
       <img [src]= "api.image" >
       </div>
	 <button ion-button clear full no-margin menuClose (click)= "goToProfile()">{{api.data.first_and_last_name}}</button>
    </ion-header>

    <ion-content padding>

      <ion-list class="menu">
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
           <ion-icon name="{{p.icon}}"></ion-icon> {{p.title}} <span text-right  *ngIf="p.title == 'Recommandations' && recommandations != 0">  <ion-badge item-right no-margin color="danger">{{recommandations}}</ion-badge></span>
        </button>
      </ion-list>

    </ion-content>

</ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
