page-stats2 {
	
.toolbar-background-ios {
 background: transparent;
 border-bottom: none;
}	

.bg-stat-2 {
 background: linear-gradient(135deg, #00d4ff 0%,#5a0087 100%) !important; 
 color: #fff;
	
	h1 {
	font-family: 'lato-light-webfont';
	letter-spacing: 0.1rem;
	font-size: 3rem;
	margin-top: 2rem;
	}
	
	h5 {
	font-family: 'lato-regular-webfont';
	letter-spacing: 0.05rem;
	font-size: 1.5rem;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	}
}

svg {
 background:none !important;
}
}
