page-personnel {
	
.background-grey {
 background: #fafafa;
}
.image-profil {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  position: relative;
  margin-bottom: 20px;
}
.icon-camera {
  position: absolute;
  border-radius: 50%;
  width: 75px !important;
  height: 75px !important;
  margin: 0 !important;
  background-color: rgba(0, 0, 0, 0.40);
}

.custom-nav button {
 border-top: 0.55px solid #EDEDED !important;
 border-bottom: 0.55px solid #EDEDED !important;		
}
	
.segment {
 width: auto;
 border-bottom: 0.55px solid #EDEDED;
}	
		
.segment-ios .segment-button, .segment-md .segment-button {
 margin: 10px 0;
 border: none;
 height: 3.2rem;
 font-family: 'lato-bold-webfont';
 font-size: 1.2rem;
 line-height: 3.2rem;
 text-transform: uppercase;
 letter-spacing: 0.05rem;
 color: #EDEDED;
 background: transparent;
 border-radius: 0;
}

.segment-ios .segment-button.segment-activated, .segment-md .segment-button.segment-activated  {
 color: #6600BA;
 background: transparent;
 border-radius: 0;
}	

}
