page-stats5 {
.bg-stat-2 {
 background: linear-gradient(135deg, #00d4ff 0%,#5a0087 100%) !important; 
 color: #fff;
	
	h1 {
	font-family: 'lato-light-webfont';
	letter-spacing: 0.05rem;
	font-size: 3.7rem;	
	margin-bottom: 4rem;
	}
	
	h2 {
	font-family: 'lato-light-webfont';
	letter-spacing: 0.05rem;
	font-size: 3.5rem;
	}
	
	h5 {
	font-family: 'lato-bold-webfont';
	letter-spacing: 0.05rem;
	font-size: 1.7rem;
	}
}

svg {
 background:none !important;
}

}
